.mainpage{

    background-image:url("https://cdn.dribbble.com/users/7843013/screenshots/17656044/e-_learning_landing_page1_4x.png") ;
background-position: top;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 300vh;
}